/*
  =============== 
  App
  ===============
  */
.section {
  width: 90vw;
  margin: 5rem auto;
  max-width: var(--max-width);
  color: #252933;
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

.loading {
  text-align: center;
}

.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}
.title {
  margin-bottom: 4rem;
  text-align: center;
}

.center > * {
  width: 200px;
  margin: 0 auto;
  border: 1px solid coral;
  margin-bottom: 5px;
  text-align: center;
}
